In [1]:
%%time
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go
from datetime import date
today = date.today()
def load_data():
    import time
    start = time.time()
    print('Fetching data')
    df = pd.read_csv('https://covid.ourworldindata.org/data/ecdc/full_data.csv')
    print(f"Fetching complete in {round(time.time()-start, 2)}secs")
    filename = 'data/backups/COVID-19 '+str(today)+' backup.csv'
    df.to_csv(filename, index=False)
    print(f"{filename}, has been saved")
    return df
df = load_data()
df['date'] = pd.to_datetime(df['date'])
df['week'] = df['date'].dt.week

Fetching data
Fetching complete in 9.94secs
data/backups/COVID-19 2020-07-25 backup.csv, has been saved
CPU times: user 564 ms, sys: 89.6 ms, total: 654 ms
Wall time: 10.5 s

In [50]:
top10 = df.groupby('location')[['total_cases', 'total_deaths']].max().reset_index().rename(columns=dict(total_cases='Total Cases', location='Location', total_deaths='Total Deaths')).sort_values(by='Total Cases', ascending=False)[1:11].reset_index(drop=True)
top10.index = top10.index+1
top10['Death Rate'] = round(top10['Total Deaths']/top10['Total Cases'], 4)*100
top10

          Location  Total Cases  Total Deaths  Death Rate
1    United States    4112529.0      145546.0        3.54
2           Brazil    2343366.0       85238.0        3.64
3            India    1336861.0       31358.0        2.35
4           Russia     800849.0       13046.0        1.63
5     South Africa     421996.0        6343.0        1.50
6           Mexico     378285.0       42645.0       11.27
7             Peru     375961.0       17843.0        4.75
8            Chile     341304.0        8914.0        2.61
9   United Kingdom     313483.0       45677.0       14.57
10            Iran     284034.0       15074.0        5.31

In [21]:
df.groupby('location')[['total_cases', 'total_deaths']].max()

                total_cases  total_deaths
location
Afghanistan         36036.0        1246.0
Albania              4570.0         128.0
Algeria             26159.0        1136.0
Andorra               889.0          52.0
Angola                851.0          33.0
...                     ...           ...
Western Sahara        766.0           1.0
World            15762053.0      639273.0
Yemen                1654.0         461.0
Zambia               3856.0         130.0
Zimbabwe             2296.0          32.0

[211 rows x 2 columns]

In [22]:
import plotly.express as px

In [68]:
time_srs = pd.read_csv('https://api.covid19india.org/csv/latest/state_wise.csv')
time_srs[['State', 'Confirmed', 'Recovered', 'Deaths', 'Active']][1:11]
time_srs[(time_srs['State'] == 'Total')]['Confirmed'][0]

1383172

In [72]:
import datetime
datetime.datetime.now()

AttributeError: module 'datetime' has no attribute 'now'